@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
</head>
<body>
    <center>
        <h1> Universidad Tecnológica Costarricense </h1><br>
        <h1> Examen Final </h1><br>
        <h2> Programación VI </h2><br>
        <h3> Profesora: Ana Lucía Matarrita Granados</h3><br>
        <h3> Integrantes: </h3><br>
        <h3> Francisco Barquero Rodriguez </h3><br>
        <h3> Elmer Gamboa Porras </h3><br>
        <h3> Verny Mata Brenes </h3><br><br>
        <h3> Ismael Umaña Arguedas </h3><br>
        <h3> Leonardo Zumbado Chavarría </h3><br>
        <h4> 2021 </h4>
    </center>
</body>
</html>
